* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 
main- #fd7e14
grey- #ff922b
*/

body {
  background-color: #FF9D4C;
  height: 100vh;
}
.titel {
  margin: 20px auto;
  width: 100%;
  text-align: center;
}
.flex {
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 1px;
}
.container {
  background-color: #ffffffc4;
  margin: auto;
  border: 2px solid #573302;
  width: 365px;
}
form{
  margin-top: 10px;
}
.text-area {
  text-align: right;
  padding-right: 10px;
  font-size: 20px;
  width: 100%;
  font-weight: bold;
  border: 2px solid rgb(0, 0, 0);
  color: rgba(0, 0, 0, 0.842);
  border-radius: 5px;
}
.btn-u,
.flex .btn {
  font-size: medium;
  color: rgba(0, 0, 0, 0.581);
  border: 2px solid rgba(0, 0, 0, 0.8);
  padding: 4px 8px;
  margin-right: 4px;
  height: 34px;
  outline: none;
  width: 5rem;
  border-radius: 5px;
}
.btn-u:hover,
.btn:hover {
  background-color: rgba(0, 120, 212, 0.622);
  color: rgba(0, 0, 0, 0.9);
}
.bold {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.842);
}
.sign{
  padding: 0px 10px;
}
.fa {
  margin: 8px;
}
.dropdown-menu{
  height: 95px;
  width: 276px;
}
.dropdown-menu li{
  display: inline-block;
  margin: 3px;
  list-style: none;
  text-align: center;
}
.dropdown-menu li .btn-u{
  margin: 0;
  /* padding: 5px 8px 5px 8px; */
}